/* Inline: só para ajustes pontuais como um parágrafo único ou email HTML

Internal:  estilo para página única/protótipo

External: padrão profissional, escalável e com cache.  

Prefira usar ID do que estilo inline.*/

* {
    box-sizing: border-box;
}

body{
    background-color: #fae7b3;
    color: #3B2F2F;
    font-family: 'Roboto', 'Lato', sans-serif;

}

h1{
    font-size: 45px;
    font-weight: bold;
}

legend {
    font-size: 35px;
    font-weight: bold;
}

.menu a {
    color: #896a6a;
    text-decoration: none;
}

a:hover {
  color: #2f2525;
}

#livrosForm, #buscaForm, #livrosTable {
    box-shadow: 0 4px 12px rgba(31, 58, 77, 0.15), 0 -4px 12px rgba(31, 58, 77, 0.15);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    max-width: 1250px;
}

#livrosTable {
    text-align: center;
}

button{
    margin: 20px;
}

.btn-editar,
.btn-deletar {
    min-width: 80px;
    height: 32px;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #896a6a;
    cursor: pointer;
}

.btn-editar {
    width: 40%;
}

.btn-deletar {
    width: 40%;
}


footer{
    text-align: center;
}