<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
</head>
<body>
    <header>
    <h1>
        <img src="../static/images/icone_livros.png" alt="Logo da Biblioteca" width="70" height="70"/>

        Bem-vindo ao Meus Livros
    </h1>

    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="">Busca de livros</a></li>
        </ul>

  </header>
</body>
</html>